@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-futura text-text-400 text-sm bg-white;
  }

  body {
    @apply bg-white text-text-400;
  }
}

:root {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
  line-height: normal;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.translate-down-enter {
  opacity: 0;
  transform: translateY(70px);
}
.translate-down-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.translate-down-exit {
  transform: translateY(0);
  opacity: 1;
}
.translate-down-exit-active {
  /* opacity: 0; */
  transform: translateX(600px);
  transition: opacity 300ms, transform 300ms;
}

.dark-icon path {
  stroke: black;
}

.dark-icon circle {
  stroke: black;
}

/* @media screen and (max-width: 768px) {
  .move-one {
    animation: move-right 5s ease-in-out infinite;
    animation-delay: 0s;
  }

  .move-two {
    transform: translateX(100vw);
    animation: move-right 5s ease-in-out infinite;
    animation-delay: 2.55s;
    display: block;
  }

  @keyframes move-right {
    0% {
      display: block;
      transform: translateX(-100vw);
    }

    5%,
    50% {
      display: block;
      transform: translateX(0);
    }

    50%,
    100% {
      display: block;
      transform: translateX(100vw);
    }
  }
} */
